---
const { frontmatter } = Astro.props;

import "../styles/global.css";

import projects from "../data/projects.json";
import classNames from "utils/classNames";
import NavbarSecondary from "components/navbars/NavbarSecondary.astro";
import ProjectLinks from "components/ProjectLinks";
import BaseHead from "../components/BaseHead.astro";
import { SEO } from "astro-seo";

const project = projects.find((project) => project.id === frontmatter.id);

if (project === undefined || project === null) {
  throw new TypeError("Cannot find the project.");
}
---

<html>
  <head>
    <BaseHead title={"Filip - " + project.title} />
    <SEO
      title={project.title}
      description={project.description}
      openGraph={{
        basic: {
          title: project.title,
          type: "website",
          image: "/thumbnail.png",
          url: project.liveDemoLink,
        },
      }}
      twitter={{
        title: project.title,
        description: project.description,
        card: "summary_large_image",
        creator: "@alkanoidev",
        site: project.liveDemoLink,
        image: "/thumbnail.png",
      }}
    />
  </head>

  <body class="dark:bg-deep-sky bg-deep-sky-light">
    <NavbarSecondary backId={project.id} />

    <main
      class="2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl mx-auto md:px-0 px-2"
    >
      <div class="w-full mt-40 md:mt-48 lg:mt-64 xl:mt-72">
        <img
          src={project.logo}
          alt={project.title + " Logo"}
          width="100px"
          height="100px"
        />
        <h1 class="text-3xl md:text-4xl font-bold mt-2">
          {project.title}
        </h1>
        <span
          class="font-semibold text-xl md:text-2xl text-on-primary-box-light/70 dark:text-on-primary-box-dark/70"
        >
          {project.year}
        </span>
        <p class="text-xl md:text-2xl w-2/3 md:w-1/2 mt-2">
          {project.description}
        </p>
        <ul class="flex flex-wrap items-center gap-3 mt-4 w-full">
          {
            project.technologies.map((technology) => (
              <li
                class={classNames(
                  "text-on-primary-box-light dark:text-on-primary-box-dark text-sm",
                  "ring-2 ring-primary-light dark:ring-primary-dark ring-opacity-70 dark:ring-opacity-70",
                  "px-2 py-1 rounded-full"
                )}
              >
                {technology}
              </li>
            ))
          }
        </ul>
      </div>

      <div class="mt-6">
        <ProjectLinks
          liveDemoLink={project.liveDemoLink}
          githubLink={project.githubLink}
        />
      </div>

      <slot />
    </main>
    <style>
      * {
        @apply text-on-primary-box-light dark:text-on-primary-box-dark;
      }
    </style>
  </body>
</html>
