---
const { frontmatter } = Astro.props;

import "../styles/global.css";

import projects from "../data/projects.json";
import classNames from "utils/classNames";
import NavbarSecondary from "components/NavbarSecondary.astro";

const project = projects.find((project) => project.id === frontmatter.id);
---

<html>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/Avatar.png" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <!-- primary-dark Meta Tags -->
  <title>Filip - {project?.title}</title>
  <meta name="title" content={frontmatter.title} />
  <meta
    name="description"
    content="Filip Ivanovic - Frontend Developer - React, JavaScript, NextJS, TypeScript"
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://filipivanovic.netlify.app/" />
  <meta property="og:title" content="Filip Ivanovic" />
  <meta
    property="og:description"
    content="Filip Ivanovic - Frontend Developer - React, JavaScript, NextJS, TypeScript"
  />
  <meta property="og:image" content="/thumbnail.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://filipivanovic.netlify.app/" />
  <meta property="twitter:title" content="Filip Ivanovic" />
  <meta
    property="twitter:description"
    content="Filip Ivanovic - Frontend Developer - React, JavaScript, NextJS, TypeScript"
  />
  <meta property="twitter:image" content="/thumbnail.png" />

  <link rel="preconnect" href="https://fonts.gstatic.com/" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
    rel="stylesheet"
  />

  <body class="dark:bg-deep-sky bg-deep-sky-light">
    <NavbarSecondary />

    <main
      class="2xl:max-w-7xl xl:max-w-6xl lg:max-w-4xl md:max-w-2xl sm:max-w-xl mx-auto md:px-0 px-2"
    >
      <div class="w-full mt-40 md:mt-48 lg:mt-64 xl:mt-72">
        <img
          src="logo.png"
          alt={project?.title + " Logo"}
          width="100px"
          height="100px"
          class="border-2"
        />
        <h1 class="text-3xl md:text-4xl font-bold mt-2">
          {project?.title}
        </h1>
        <span
          class="font-semibold text-xl md:text-2xl text-on-light/70 dark:text-on-dark/70"
        >
          {project?.year}
        </span>
        <p class="text-xl md:text-2xl w-2/3 md:w-1/2 mt-2">
          {project?.description}
        </p>
        <ul class="flex flex-wrap items-center gap-3 mt-4 w-full">
          {
            project?.technologies.map((technology) => (
              <li
                class={classNames(
                  "text-on-surface-light dark:text-on-surface-dark text-sm",
                  "ring-2 ring-outline-light dark:ring-outline-dark ring-opacity-70 dark:ring-opacity-70",
                  "px-2 py-1 rounded-full"
                )}
              >
                {technology}
              </li>
            ))
          }
        </ul>
      </div>
      <br />
      <br />
      here goes a floating menu for live view and github repo
      <slot />
    </main>
    <script>
      import { gsap } from "gsap";
      const timeline = gsap.timeline({ delay: 0.3 });
      timeline.to("#navbar", {
        duration: 0.3,
        opacity: 1,
        y: 0,
        ease: "power2.easeOut",
      });
    </script>
  </body>
</html>

<style>
  * {
    @apply text-on-primary-box-light dark:text-on-primary-box-dark;
  }
</style>
